
{% extends 'base.html' %}
{% load bootstrap3 %}


{% block bootstrap3_title %} LiveStockWatch {% endblock %}

{% block content %}
  <h1>Cattle <span>
    <a type="button" class="btn btn-primary"
       href="{% url "ca_cattle_add" %}?next={{ cur_path }}"> Add new cattle</a>
  </span>
  </h1>

  {% if lst_cattle %}
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID Number</th>
          <th>Place</th>
          <th>Stall</th>
          <th>Detail</th>
        </tr>
      </thead>
      <tbody>
        {% for cattle in lst_cattle %}
        <tr>
          <td>{{ cattle.id_number }}</td>
          <td>{{ cattle.stall.place.name }}</td>
          <td>{{ cattle.stall.device_name }}</td>
          <td><a role="button" class="btn btn-sm btn-info"
                 href="{% url "ca_cattle_detail" cattle.id %}">Details</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No cattle</p>
  {% endif %}


{% endblock %}