
{% extends 'base.html' %}
{% load bootstrap3 %}


{% block bootstrap3_title %} LiveStockWatch {% endblock %}

{% block content %}
  <h1>Neckband Pattern <span>
    <a type="button" class="btn btn-primary"
       href="{% url "ca_neckband_add" %}?next={{ cur_path }}"> Add new neckband pattern</a>
  </span>
  </h1>

  {% if lst_neckband %}
    <table class="table table-hover">
    {% for neckband in lst_neckband %}
      <tr><td><a href="{% url "ca_neckband_detail" neckband.id %}">{{ neckband.pattern }}</a></td></tr>
    {% endfor %}
    </table>
  {% else %}
    <p>No neckband pattern exists</p>
  {% endif %}


{% endblock %}