{% extends 'base.html' %}
{% load bootstrap3 %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block bootstrap3_title %} LiveStockWatch {% endblock %}

{% block content %}
  <h1>{{ stall.name }}</h1>

  <p>Remarks: {{ stall.remarks }}</p>
  <p>Head Count: {{ stall.head_count }}</p>
  <p><a href="{% url "ca_place_detail" stall.place.id %}">
    {{ stall.place.name }}</a></p>

  <h3>
    Cattle List
    <span>
      <a type="button" class="btn btn-primary"
         href="{% url "ca_cattle_add" %}?next={{ cur_path }}&stall_id={{ stall.id }}"> Add new cattle</a>
    </span>
  </h3>

  {% if lst_cattle %}
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID Number</th>
          <th>Place</th>
          <th>Stall</th>
          <th>Detail</th>
        </tr>
      </thead>
      <tbody>
        {% for cattle in lst_cattle %}
        <tr>
          <td>{{ cattle.id_number }}</td>
          <td>{{ cattle.stall.place.name }}</td>
          <td>{{ cattle.stall.device_name }}</td>
          <td><a role="button" class="btn btn-sm btn-info"
                 href="{% url "ca_cattle_detail" cattle.id %}">Details</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No cattle</p>
  {% endif %}

{% endblock %}