
{% extends 'base.html' %}
{% load bootstrap3 %}


{% block bootstrap3_title %} LiveStockWatch {% endblock %}

{% block content %}
  <h1>Stall <span>
    <a type="button" class="btn btn-primary"
       href="{% url "ca_stall_add" %}?next={{ cur_path }}"> Add new stall</a>
  </span>
  </h1>

  {% if stalls %}
    <table class="table table-hover">
    {% for stall in stalls %}
      <tr><td><a href="{% url "ca_stall_detail" stall.id %}">{{ stall.name }}</a></td></tr>
    {% endfor %}
    </table>
  {% else %}
    <p>No stall exists</p>
  {% endif %}


{% endblock %}