{% extends 'base.html' %}
{% load bootstrap3 %}


{% block bootstrap3_title %} LiveStockWatch {% endblock %}

{% block content %}

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <div class="col-md-3">
          <h1>Place Details</h1>
          <table class="table table-bordered">
            <tr>
              <td>Name</td>
              <td>{{ place.name }}</td>
            </tr>
            <tr>
              <td>Address</td>
              <td>{{ place.address }}</td>
            </tr>
          </table>
        </div>
      </div>

      <h3>
        Stall List
        <span>
          <a type="button" class="btn btn-success btn-sm"
             href="{% url "fa_stall_add" %}?next={{ cur_path }}&place_id={{ place.id }}">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          </a>
        </span>
      </h3>

      {% if stalls %}
        <table class="table table-hover">
        {% for stall in stalls %}
          <tr><td><a href="{% url "fa_stall_detail" stall.id %}">{{ stall.name }}</a></td></tr>
        {% endfor %}
        </table>
      {% else %}
        No stall exists.
      {% endif %}

    </div>
  </div>


{% endblock %}