{% extends 'base.html' %}
{% load bootstrap3 %}
{% load nvd3_tags %}

{% block extra_head %}
  {% include_chart_jscss %}
  {% load_chart piechart_data.charttype piechart_data.chartdata piechart_data.chartcontainer piechart_data.extra %}
  {% load_chart linechart_data.charttype linechart_data.chartdata linechart_data.chartcontainer linechart_data.extra %}
{% endblock %}

{% block bootstrap3_title %} LiveStockWatch {% endblock %}

{% block content%}

  <!-- Upload form. Note enctype attribute! -->
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1>Analysis Session</h1>
      <p>Name: {{ analysis_session.name }}</p>

      <h3>Capture session analysis result</h3>

      <div class="row">
        <div class="col-md-6">
          <div class="well">
            {% include_container piechart_data.chartcontainer %}
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="well">
            {% include_container linechart_data.chartcontainer %}
          </div>
        </div>
      </div>


      <div class="col-md-8">
        {% if lst_analysis_cs_result %}
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Parameter Name</th>
                <th>Period</th>
                <th>Time Taken</th>
                <th>Pupil max area</th>
              </tr>
            </thead>
            <tbody>
            {% for csr in lst_analysis_cs_result %}
              <tr>
                <td>{{ csr.analysis_parameter.capture_session }}</td>
                <td>{{ csr.analysis_parameter.capture_session.get_period_display }}</td>
                <td>{{ csr.analysis_parameter.capture_session.time_taken|date:'c' }}</td>
                <td>{{ csr.pupil_max_area }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        {% else %}
          <p>No capture session analysis result </p>
        {% endif %}

        {% if ia_parameters %}

          <a type="button" href="{% url "ia_pupil_analysis_runner" analysis_session.id %}"
          class="btn btn-info">Run Pupil Analysis</a>

          <h3>Analysis Parameter</h3>
          <table class="table table-hover">
          {% for parameter in ia_parameters %}
            <tr>
              <td>{{ parameter.capture_session }}</td>
              <td>{{ parameter.parameter }}</td>
              <td>
                <a type="button" class="btn btn-info"
                   href="{% url "ia_analysis_result_detail" analysis_session.id parameter.id %}">Result</a>
              </td>
            </tr>
          {% endfor %}
          </table>
        {% else %}
          <p>No analysis parameter</p>
        {% endif %}

        <h3>Add New Analysis Parameter</h3>
        <form action="{% url "ia_analysis_session_detail" analysis_session.id %}" method="post">
          {% csrf_token %}
          {% bootstrap_form ia_parameter_form %}
          {% buttons %}
              <button type="submit" class="btn btn-primary">
                  {% bootstrap_icon "star" %} Submit
              </button>
          {% endbuttons %}
        </form>

      </div>
    </div>
  </div>

{% endblock %}