{% extends 'base.html' %}
{% load bootstrap3 %}


{% block bootstrap3_title %} LiveStockWatch {% endblock %}

{% block content%}

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1>Capture session
        <span>
          <a type="button" class="btn btn-primary"
             href="{% url "ia_capture_session_add" %}?next={{ cur_path }}">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          </a>
        </span>
      </h1>

    {% if capture_sessions %}
      <table class="table table-bordered text-center">
        <thead>
          <tr>
            <th>Name</th>
            <th>Cattle ID</th>
            <th>Period</th>
            <th>Time taken</th>
            <th>Detail</th>
          </tr>
        </thead>
        <tbody>
          {% for cs in capture_sessions %}
            <tr>
              <td>{{ cs.name }}</td>
              <td>{{ cs.cattle.id_number }}</td>
              <td>{{ cs.period }}</td>
              <td>{{ cs.time_taken }}</td>
              <td>
                <a type="button" class="btn btn-info btn-sm"
                  href="{% url "ia_capture_session_details" cs.id %}">detail</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No place exists.</p>
    {% endif %}
    </div>
  </div>


{% endblock %}